*{
    margin:0;
    padding:0
}
.search{
    width:100vw;
    height:auto;
    display:flex;
    justify-content: center;
    background-color:#000000;
    color:#ffffff;
    padding:20px ;
    box-sizing:border-box;
    position:fixed ;
    top:0;
}
.ajax{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ajax .ajax-con{
    flex:0 1 900px;
    min-height:400px;
    display:grid;
    padding:1vw;
    box-sizing: border-box;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:1vw;
    cursor : pointer;
}
.ajax .ajax-con button{
    cursor : pointer;
    border:0;
    background: #1d8cad;
    color:#eeeeee;
    transition:all 0.3s;
}
.ajax .ajax-con button:hover{
    background: #8a1dad;
    color:#ffffff;
}