<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajax_index</title>
                <!-- /static/js/ajax.js -->
    <script th:src="@{/js/ajax.js}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/ajax_index.css}">
</head>
<body>
<div class="search">
    <form action="#">
        <input type="text" name="search" id="search">
        <input type="button" value="검색" id="searchBtn">
    </form>
    <a th:href="@{/ajax/memberJoin}" style="color:#ffffff">회원가입</a>
</div>
<div class="ajax">
    <div class="ajax-con">
        <button id="btn1">ajax1</button>
        <button id="btn2">ajax2</button>
        <button id="btn3">ajax3</button>
        <button id="btn4">ajax4</button>
        <button id="btn5">ajax5</button>
        <button id="btn6">ajax6</button>
        <button id="btn7">ajax7</button>
        <button id="btn8">ajax8</button>
        <button id="btn9">ajax9</button>
        <button id="btn10">ajax10</button>
    </div>
</div>
</body>
</html>