<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajax_list</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/js/ajax2.js}" defer></script>
</head>
<body>
<div>
  <h1>List</h1>
  <button id="ajaxBtn">AjaxButton</button>
    <a th:href="@{/ajax/detail}">상세조회</a>
</div>
<table border="1" id="list">
  <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</body>
</html>